<main>
    <div id="encabezado">
        <h2>Descubre mundos inexplorados, despierta tu imaginación y sumérgete en emocionantes historias.</h2>
        <h3>Encuentra tu próximo viaje literario hoy mismo</h3>
    </div>
   
    
    <div class="buscador">
        <input type="number" placeholder="Buscar Ref" aria-label="Buscar" #idLibro>
        <button  class="btn btn-outline-dark" (click)="buscar(idLibro.value)">
            <i class="fas fa-search"></i> 
        </button>
        <div [hidden]="filtro" id="filtro">No se ha encontrado la referencia</div>
    </div>

    <section id="content-libros">
        <div class="libros" *ngIf="buscarLibro === undefined else filtrar">
            <div *ngFor="let book of booksService.getAll(); let odd = odd; let index = index">
                <app-card [libroPadre] = "book" [odd] = "odd" [indice] = "index" [idLibro] = "book.id_book" (eventoElimina) = "eliminaLibro($event)"></app-card>
            </div>
        </div>
        <ng-template #filtrar>
            <div class="libros">
                <app-card [libroPadre] = "buscarLibro" [odd] = "odd" [indice] = "index" [idLibro] = "buscarLibro.id_book" (eventoElimina) = "eliminaLibro($event)">
                </app-card>     
            </div>
        </ng-template>
    </section>


</main>
