<main>
    <div id="encabezado">
        <h2>Descubre mundos inexplorados, despierta tu imaginación y sumérgete en emocionantes historias.</h2>
        <h3>Encuentra tu próximo viaje literario hoy mismo</h3>
    </div>
   

    <section id="content-libros">
        <div id="libros" *ngIf="books.length > 0; else noLibros">
            <div *ngFor="let book of books; let odd = odd; let index = index">
                <app-card [libroPadre] = "book" [odd] = "odd" [indice] = "index" (eventoElimina) = "eliminaLibro($event)"></app-card>
            </div>
        </div>
        <ng-template #noLibros>
            <div id="noLibros">
            No existen libros
            </div>
        </ng-template>
    </section>


</main>
