<section id="contenedor">
    <div id="registro">
        <div id="title">
            <h2>Regístrate</h2>
        </div>

        <form id="form">
            <div class="datos">
                <label for="nombre"></label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            </div>

            <div class="datos">
                <label for="apellido"></label>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido">
            </div>

            <div class="datos">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico">
            </div>

            <div class="datos">
                <label for="contraseña"></label>
                <input type="password" id="contraseña" name="contraseña" placeholder="contraseña">
            </div>

            <div class="datos">
                <button type="button">Registrarse</button>
            </div>
        </form>
    </div>
    

</section>

